


  .titulo{
    color:white;
    text-align:center;
  }

.video {
    text-align:center;
    width:"300";
    height:"400";
    }

.cuerpo {
  background-color:#7B4ACB;
}

h6{
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}